<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card p-5 text-center">
            <p class="my-0 display-4">User Auth-BP</p>
            <hr class="my-4" />
            <a href="https://www.google.ca" target="_blank" class="mx-auto ">
                <img src="/assets/logo.png" class="hvr-grow" width="150px" height="150px">
            </a>

            <hr class="my-4" />
            <p class="my-0">User authentication boilerplate was developed with Node JS (Express, Passport) and MongoDB
                for future
                applications. </p>
            <hr class="my-4" />
            <a href="/users/register" class="btn-p mb-3">Register</a>
            <a href="/users/login" class="btn-s">Login</a>

        </div>




    </div>




</div>