<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card p-5 text-center">
            <br />
            <br />
            <p class="my-0 display-4">User Authentication</p>
            <hr class="my-4" />
            <div class="row mx-0">
                <div class="col px-0">
                    <a href="https://github.com/patrick-du" target="_blank" class="mx-auto hvr-grow">
                        <i class="fab fa-github-alt"></i>
                    </a>
                </div>
                <div class="col px-0">
                    <a href="https://www.google.ca" target="_blank" class="mx-auto ">
                        <img src="/assets/logo.png" class="hvr-grow" width="80" height="80">
                    </a>
                </div>
                <div class="col px-0">
                    <a href="https://www.linkedin.com/in/patrick-du3/" target="_blank" class="mx-auto hvr-grow">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

            </div>

            <hr class="my-4" />
            <p class="my-0">A user authentication boilerplate developed with Node JS (Express, Passport) and MongoDB
                for future applications. </p>
            <hr class="my-4" />
            <a href="/users/register" class="btn-p mb-3">Register</a>
            <a href="/users/login" class="btn-s">Login</a>

        </div>




    </div>




</div>